## backend

!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### VS Code ###
backend/.vscode/

# Arquivos/diretórios do IntelliJ IDEA
backend/.idea/

# Arquivos/diretórios do Maven
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Saída compilada
backend/target/


## frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/app/node_modules
frontend/app/.pnp
frontend/app/.pnp.js

# testing
frontend/app//coverage

# production
frontend/app//build

# misc
frontend/app/.DS_Store
frontend/app/.env.local
frontend/app/.env.development.local
frontend/app/.env.test.local
frontend/app/.env.production.local

frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
